page-home {

.Settings
{
  background-color: #F9BF3B;
  font-size: 18px;
  color:  #222;
}
  .Reminder{
                position: absolute;
                width: 100%;
                padding-right: 230px;
                padding-bottom: 75px;
                margin-top: 0px;
                margin-bottom: 0px;
              }
  .Note{
               position: absolute;
               width: 100%;
               padding-right: 180px;
               padding-bottom: 30px;
               margin-top: 10px;
               margin-bottom: 0px;
            }

  // .ion-card {
  //   margin-right: 1px !important;
  //   margin-left: 1px !important;
  // }

  #overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(243,156,18,0.9);
    z-index: 100;
    top: 0;
    left: 0;
  }

  .delete
  {
    position: fixed !important;
    right: 0px !important;
  }

  // .card{
  //   width: 103%;
  //   height: 104%;
  //    margin-bottom: 0px !important;
  //    margin-top: 0px !important;
  //    margin-left: 0px !important;
  //    margin-right: 0px !important;
  //    //white-space: pre-wrap;
  // }
}
