page-shopping-list {

  #private_button , #public_button {
    display:inline-block;
    width: 100px;
    height: 50px;
    font-size: 24 !important;
    color: primary;
    min-width: 49.4%
  /**other codes**/
  }

  #container {
    text-align: center;
  }

}
